@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.no-gutters {
margin-right: 0;
margin-left: 0;
padding-right: 0;
padding-left: 0;
    }


/*--------------------------------------------colors*/

.nav-color{
    background-color:#000;
    }

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    }

.navbar-light .navbar-nav .nav-link:hover {
    color: #FF8C00;
    }


.headline-colors{
    color:rgba(255, 255, 255, 0.4);
    letter-spacing: 10px;
    background-color:rgba(255, 255, 255, 0.1)
    }

/*--------------------------------------------colors-end*/




/*--------------------------------------------navbar*/

.navbar{
    padding:0;
    }


nav.container-fluid{
    padding-right:0;
    }



.navbar-collapse{
    flex-grow:0;
    }

#logo{
    background-image:url("/assets/images/lion-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:50%;
    }

.navbar-light .navbar-nav .nav-link:hover {
    font-size:1.2em;
    }

.hvr-glow:hover {
    box-shadow: 0 0 8px rgb(100 200 200 / 60%);
    }

.nav-toggler-space{
    margin:0.5em;
    }

.navbar-nav{
    text-align:center;
    }

a{
    text-decoration:none;
    color:rgb(250, 180, 100);
}

a:hover{
        color:rgb(250, 180, 100)
}

/*--------------------------------------------navbar ends*/






.image-backgrounds{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.main-images{
    border:1px solid rgba(250, 180, 150, 0.1);
}


.animal-images-lion{
    background-image:url("/assets/images/lion.jpg");
    width:100%;
    height:30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.animal-images-spider{
    background-image:url("/assets/images/spider.jpg");
    width:100%;
    height:30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.animal-images-snake{ 
    background-image:url("/assets/images/snake.jpg");
    width:100%;
    height:30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}


.animal-images-crocodile{ 
    background-image:url("/assets/images/crocodile.jpg");
    width:100%;
    height:30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



@media only screen and (min-width: 320px) {
    
    #logo   {
        width:25%;
        height:2.5em;
    }

    #hero-image{
    background-image: url("/assets/images/elephant.jpg");
    height:30em;   
    }

    #hero-image-text{
    height: 10em;
    width: 100%;
    position: relative;
    top:5em;
    }

    
    #hero-text-size{
    font-size:4em;
    text-align:center;
    }

    #fire-gif{
        background-image: url("/assets/images/fire.gif");
        height:30em;
        text-align:-webkit-center;
    }

    #icon-lion{
        height: 10em;
        width:60%;
        background-image: url("/assets/images/icon-lion.jpg");
        border-radius:50%;
        opacity:0.8;
        position:relative;
        top:2em;
    }


    #foodchain{
        background-image: url("/assets/images/foodchain.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align:center;
        height:40em;
        width:100%;
        background-color:#000;
        color:#fff;
    }

    #contact{
        background-image: url("/assets/images/cat-eyes.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        height:30em;
        text-align:center;
        color:rgb(180, 180, 180);
    }


    #message{
        height:6em;
        width:60%;
    }

    #submit{
        width:15%;
    }

    .icons i{
        font-size:3em;
        
    }

    .social-icons{
        margin: 20px 10px;
    }

    .icons{
        margin: 0 10px;
    }


    .read-more {
    background-color: rgba(259,100, 100, 0.2);
    width: 31%;
    height: 2.5em;
    position: relative;
    top: 25em;
    color: #fff;
    color: white;
}


.main-text {
    background-color: rgba(250, 100, 100, 0.5);
    width: 50%;
    height: 13.3em;
    float: right;
    position: relative;
    top: 12em;
}

#wildlife{
    background-image: url("/assets/images/owl.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:25em;
    width:100%;
}

.wildlife-text {
    background-color: rgba(250, 100, 100, 0.5);
    width: 50%;
    position: relative;
    top: 11em;
    font-size: 12px;
    color: #fff;
    padding-left: 3px;
}





}

@media only screen and (min-width: 375px) {
/*-----------------------------------------------------------nav*/
    #logo   {
        width:20%;
        height:2.5em;
    }
/*-----------------------------------------------------------nav ends*/

/*-----------------------------------------------------------hero-image*/
    #hero-image{
    background-image: url("/assets/images/elephant.jpg");
    height:30em;   
    }

    #hero-image-text{
    height: 10em;
    width: 100%;
    position: relative;
    top:5em;
    }

/*-----------------------------------------------------------hero-image-ends*/

}


        #icon-lion{
        position:relative;
        top:2em;
    }


@media only screen and (min-width: 475px) {
    
    #logo   {
        width:20%;
        height:2.5em;
    }

    #hero-image{
        background-image: url("/assets/images/elephant.jpg");
        height:30em;   
    }
}


    #icon-lion{
        height:12em;
        width:50%;
        position:relative;
        top:3em;
    }

@media only screen and (min-width: 768px) {
    

    #logo   {
        width:10%;
        height:2.5em;
    }

    #hero-image{
        height:30em;   
    }

    #hero-image-text{
    height: 15em;
    width: 100%;
    position: relative;
    top:3em;
    }

    #hero-text-size{
    font-size:8em;
    }


    #icon-lion{
        height: 20em;
        width:50%;
        position:relative;
        top:4em;
    }


.view-video:hover{
    color:darkorange;
    font-size:4em;
}

.read-more {
    background-color: rgba(259,100, 100, 0.7);
    width: 26%;
    height: 2.5em;
    position: relative;
    top: 25em;
    color: #fff;
    color: white;
    text-align:center;
}




.main-text{
    background-color: rgba(250, 100, 100, 0.2);
    width: 50%;
    height: 12em;
    float: right;
    position: relative;
    top: 13em;
    color: white;
}

    

    #foodchain{
        background-image: url("/assets/images/foodchain.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align:center;
        height:80em;
        width:100%;
        background-color:#000;
        color:#fff;
    }




    .wildlife-text {
    background-color: rgba(250, 100, 100, 0.5);
    width: 50%;
    position: relative;
    top: 20em;
    font-size: 12px;
    color: #fff;
    padding-left: 3px;
}


}


@media only screen and (min-width: 1024px) {
    
    .nav-height{
        height:10em;
    }

    #logo   {
        width:10%;
        height:3.5em;
    }

    .nav-link{
        margin: 0 15px;
    }

     

    #hero-image{
        height:40em;   
    }

    #hero-image-text{
    height: 15em;
    width: 100%;
    position: relative;
    top:0em;
    }

    #hero-text-size{
    font-size:14em;
    text-align:center;
    }

    #icon-lion{
        height: 30em;
        width:60%;
        position:relative;
        top:2em;
    }

    #fire-gif{
        background-image: url("/assets/images/fire.gif");
        height:45em;
        text-align:-webkit-center;
    }


}




@media only screen and (min-width: 1440px) {
    /*-----------------------------------------nav*/
    .nav-height{
        height:10em;
    }

    #logo   {
        width:10%;
        height:5em;
    }

    .nav-link{
    margin: 0 5em;
    }
/*---------------------------------------------------nav ends*/



/*---------------------------------------------------Hero-image*/
     #hero-image{
     height:40em;   
    }

    #hero-image-text{
    height: 15em;
    width: 100%;
    position: relative;
    top:0em;
    }

    #hero-text-size{
    font-size:16em;
    text-align:center;
    }

/*---------------------------------------------------Hero-ends*/

    #icon-lion{
        height: 40em;
        width:60%;
        position:relative;
        top:2em;
    }

    #fire-gif{
        background-image: url("/assets/images/fire.gif");
        height:50em;
        text-align:-webkit-center;
    }


}


